{% extends 'base/base.html' %}
{% load static %}
{% block page_contetnt %}

    <div class="middle-content">
        <div class="container">

            <div class="row"><!-- first row -->

                <div class="col-md-6"><!-- first column -->
                    <div class="widget-item">
                        <div class="sample-thumb">
                            <br>
                            <br>
                            <br>
                            <img src="{{ destination.image.url }}" width="300" height="400" alt="object image"
                                 title="about us">
                        </div> <!-- /.sample-thumb -->
                    </div> <!-- /.widget-item -->
                </div> <!-- /.col-md-4 -->


                <div class="col-md-6"><!-- second column -->
                    <div class="widget-item">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h3 class="widget-title">{{ destination.country_name }}, {{ destination.venue_name }}</h3>
                        <hr>
                        <form action="{% url 'likes destination' destination.pk %}" method="POST">
                            {% csrf_token %}
                            {% if not is_owner %}

                                <button type="submit" name="post_id" value="{{ destination.id }}"
                                        class="btn btn-primary btn-sm">Like
                                </button>
                                {#                                <a href="{% url 'likes destination' object.pk %}"><i class="fa fa-thumbs-o-up"#}
                                {#                                                                                     aria-hidden="true"></i></a>#}
                            {% endif %}
                            <!-- Likes Counter -->
                            <p class="mt-2">Likes: {{ destination.total_likes }}</p>
                        </form>
                        {% if is_owner %}
                            <br>
                            <!-- Buttons -->
                            <a href="{% url 'edit destination page' destination.pk %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'delete destination page' destination.pk %}"
                               class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div> <!-- /.widget-item -->
                    <br>
                    <hr>
                    <h3>Description:</h3>
                    <p>{{ destination.description }}</p>
                    <hr>
                    <h3>Comments...</h3>
                    <br>
                    {% if not destination.comments.all %}
                        <p>No Comments Yet...<a href="{% url 'add comment' destination.pk %}">Add One</a></p>
                    {% else %}
                        <a href="{% url 'add comment' destination.pk %}">Add Comment</a>
                        {% for comment in destination.comments.all %}
                            <br>
                            {% if comment.user_id == request.user.id %}
                                <!-- Buttons -->
                                <a href="{% url 'edit comment' destination.pk %}"
                                   class="btn btn-warning">Edit</a>
                                <a href="{% url 'delete comment' destination.pk %}"
                                   class="btn btn-danger">Delete</a>
                            {% endif %}
                            <strong>
                                {{ comment.name }} -
                                {{ comment.date_added }}
                            </strong>
                            <br>
                            {{ comment.body }}
                            <br><br>
                        {% endfor %}
                        <hr>
                    {% endif %}
                </div> <!-- /.col-md-4 -->
            </div> <!-- /.row first -->
        </div> <!-- /.container -->
    </div> <!-- /.middle-content -->


{% endblock %}
