#copyrigth {
    text-decoration: none;
}

#copyrigth:hover {
    color: red;
}
.h2{
    font-size: x-large;
}
.explore_now {
    font-size: large;
    color: red;
}

.nav-link {
    font-size: larger;
}

.logo {
    color: green;
    font-size: x-large;
    text-decoration: none;
    font-family: "Brush Script MT";
}

.logo:hover {
    color: blue;
    text-decoration: none;
}

#index_photo {
    width: 100%;
    height: 30%;
}

#read-more {
    color: red;
    text-decoration: none;
}

#nav {
    text-align: center;
}

#nav ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

.container {
    text-align: center;
}
